<div class="custom-wrapper">
    <app-navbar-categorie
      [appTitle]="navTitle" 
      [appNavItem1]="navItem1"
      [appNavItem2]="navItem2"
      [appNavItem3]="navItem3"
      [appNavLogoPath]="navLogoPath"
      [appNavLink1]="navLink1"
      [appNavLink2]="navLink2"
      [appNavLink3]="navLink3"
    ></app-navbar-categorie>
  
    <router-outlet></router-outlet>
  </div>
  
  <app-footer
    [appFooterText]="textFooter"
    [appFooterLogoMain]="logoMainFooter"
    [appFooterIcon1]="iconFooter1"
    [appFooterIcon2]="iconFooter2"
    [appFooterContact1]="contactFooter1"
  ></app-footer>
